/* Motivation.css */

.motivation-section {
    background-color: #fcc200d9; /* Set your desired background color */
    padding: 20px;
    text-align: center;
}

.quote-container {
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto;
}

.quote-text {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Set your desired text color */
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #555; /* Set your desired author text color */
}
