 nav {
    background: transparent;
    height: 45px;
    width: 100%;
  }
  
  .socialtop {
    float: right;
    margin-right: 5%;
  }
  
  .toggle{
    display:none;
  }

  .top-social a {
    padding: 30px;
    color: #0e2355;
    font-size: 30px;
  }
  
  .top-social {
    padding: 14px 15px;
  }
  
  .top-social a:hover {
   
  }
  @media screen and (max-width: 768px) {
  .toggle {
    display: block;
  }

  .socialtop {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222222;
    width: 100%;
    padding: 10px;
  }

  .socialtop a {
    padding: 10px; /* Adjust the padding to your preference */
    color: #fff; /* Set the color for mobile social icons */
    font-size: 20px; /* Adjust the font size for mobile social icons */
    transition: color 0.3s; /* Add a smooth color transition on hover */

    /* You can add more styles if needed, such as margin, border-radius, etc. */
  }

  .socialtop a:hover {
    color: #ffcc00; /* Change the color on hover */
  }

  .mobile-menu-open .socialtop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
  
  @media screen and (max-width:500px) {
    
  }
  .image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 6vh; 
  }
  

  