@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* margin:0px;
    padding:0px;   
    background: url('/mm.jpg') center/cover no-repeat; 
    animation: backgroundAnimation 20s ease-in-out infinite; 
    color: white; 
    background-attachment:fixed */

  background: #232b2b;
}

h1 {
  font-size: 24px;
}

@keyframes backgroundAnimation {
  0% {
    background-size: 100% 100%;
  }
  25% {
    background-size: 110% 110%;
  }
  50% {
    background-size: 105% 105%;
  }
  75% {
    background-size: 115% 115%;
  }
  100% {
    background-size: 100% 100%;
  }
}
